<style>
  div.page__hero--overlay h1#page-title.page__title {
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    font-family: "Lora", "Noto Serif SC", "PingFang SC", "Microsoft YaHei", serif !important;
  }

  div.page__hero--overlay p.page__lead {
    font-size: 0.65rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    max-width: 40rem !important;
    margin: 1rem auto 0 auto !important;
    font-family: "Lora", "Noto Serif SC", "PingFang SC", "Microsoft YaHei", serif !important;
  }
</style>
