@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap");

/* 归档页标题（深绿色） */
.archive__item-title,
.archive__item-title a{
  font-size: 0.9rem !important;
  color: #0b4d3c !important;
  font-family: "Noto Serif SC","PingFang SC","Microsoft YaHei",serif !important;
  font-weight: 600;
  line-height: 1.4;
}

/* 归档页摘要（普通黑） */
.archive__item-excerpt,
.archive__item-excerpt p{
  font-size: 0.65rem !important;
  color: #111 !important;
  line-height: 1.3;
  font-family: "Noto Serif SC","PingFang SC","Microsoft YaHei",serif !important;
}
