/* main.css */
.page_hero-overlay .page_title {
  font-size: 3.5rem;
  line-height: 1.2;
  color: #fff;
  text-shadow: 1px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .page_hero-overlay .page_title {
    font-size: 2rem;
  }
}
